{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container my-5">
    <h2 class="text-center mb-5">Contact Our Agents</h2>
    <div class="row">
        <!-- Agent 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Chisom Obi-Okonkwo</h5>
                    <p class="card-text">Location: Behind-flat, Nsukka</p>
                    <p><strong>Phone:</strong> <a href="tel:+2348098104488" class="btn btn-primary">+234 809 810 4488</a></p>
                </div>
            </div>
        </div>

        <!-- Agent 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Burabari Bakpo</h5>
                    <p class="card-text">Location: Odim, Nsukka</p>
                    <p><strong>Phone:</strong> <a href="tel:+2348030643652" class="btn btn-primary">+234 803 064 3652</a></p>
                </div>
            </div>
        </div>

        <!-- Agent 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Gabriel Kalu</h5>
                    <p class="card-text">Location: Hilltop, Nigeria</p>
                    <p><strong>Phone:</strong> <a href="tel:+2348164820158" class="btn btn-primary">+234 816 482 0158</a></p>
                </div>
            </div>
        </div>

        <!-- Agent 4 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Success Nwankpa</h5>
                    <p class="card-text">Location: Inside Campus, UNN, Nsukka</p>
                    <p><strong>Phone:</strong> <a href="tel:+2349162037446" class="btn btn-primary">+234 916 203 7446</a></p>
                </div>
            </div>
        </div>

        <!-- Agent 5 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Chisom Obi-Okonkwo</h5>
                    <p class="card-text">Location: Odenigwe, Nsukka</p>
                    <p><strong>Phone:</strong> <a href="tel:+2348098104488" class="btn btn-primary">+234 809 810 4488</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
