
{% extends 'base.html' %}

{% block content %}
<br><br><br>
  <div class="container my-5">
    <h2 class="my-4 text-center">Products for Sale</h2>
    <div class="row">
      {% for product in products %}
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="card shadow-sm border-light">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top" style="height: 300px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p><strong>Initial Price:</strong> N{{ product.price }} (Actual price to be negotiated after inspection)</p>
              <p><strong>Quantity:</strong> {{ product.quantity }}</p>
              <p><strong>Category:</strong> {{ product.category }}</p>

              <div class="d-flex justify-content-between">
                <a href="{% url 'product_detail' product.id %}" class="btn btn-success">
                  <i class="fas fa-phone-alt"></i> View Product
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

